<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>DEMO - INSTAGRAM - RAILS</h1>
<% if user_instagram %>
	<div id="div_sign_out">
		<h3>
			Bienvenido/a <strong><%= user_instagram.name%></strong>
			<br>
			<%= link_to "Salir", signout_path, id: "sign_out" %>
		</h3>
		<%= yield %>
	</div>	
<% else %>
	<div id="div_sign_in">
		<img src="instagram.png" id="icono">
		<%= link_to "Autenticarse con Instagram", "/auth/instagram", id: "sign_in"%>
	</div>
<% end %>
<footer class="footer">
	<p><strong>Hecho por: </strong>Arley Carantón Galeano - Viviana Cadena Díaz</p>
</footer>
</body>
</html>